body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 15px;
  background: #f7f7f7;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
}

button {
  background: #000;
  color: white;
  border: none;
  border-radius: 6px;
}

section {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}
